.hamburger-menu {
	position: fixed;
	top: 5%;
	right: 3.5%;
	height: $hamburger-height;
	width: $hamburger-width;
	cursor: pointer;
	z-index: 102;
	transition: opacity .25s ease;

	@media (max-width: 767px) {
		top: 6%;
		right: 6%;
	}

	&:hover {
		opacity: 0.5;
	}

	&.active {
		.top {
	    	transform: translateY(11px) translateX(0) rotate(45deg);
	    	background: $hamburger-active;
	  	}
	  	
	  	.middle {
	    	opacity: 0;
	    	background: $hamburger-active;
	  	}
	  
	  	.bottom {
	    	transform: translateY(-11px) translateX(0) rotate(-45deg);
	    	background: $hamburger-active;
	  	}
	}

	span {
		background: $hamburger-main;
		border: none;
		height: 5px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		transition: all .35s ease;
		cursor: pointer;
	  
		&:nth-of-type(2) {
			top: 11px;
		}

		&:nth-of-type(3) {
			top: 22px;
		}
	}
}