@import 'src/assets/styles/_variables.scss';
@import 'src/assets/styles/_fonts.scss';
@import 'src/assets/styles/_nav.scss';

*, :after, :before {
	box-sizing: border-box;
}

html, body {
	height: 100%;

}

body {
	margin: 0;
	background: $body-bg;
	color: $body-color;
}

#app {
	height: 100%;
	font-family: 'Helvetica', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
}

a {
	color:white;
	text-decoration: none;

	&:hover {
	  padding-bottom: 2px;
	}
}

.hide {
	display:none;
}

#logo {
	height: $logo-height;
	width: $logo-width;
	position: fixed;
	top: 4%;
	left: 2%;
	z-index: 102;
		
	@media (max-width: 767px) {
		height: 70px;
		width: 70px;
		top: 3%;
		left: 4%;
	}
}


.particles {
	background-image: url('./assets/images/home-bg.jpg');
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.landing-container {
	position: relative;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-flex;
	display: flex;
	height: 100%;
	justify-content: center;
}

.landing-title {
	font-family: 'HalisGR-Bold', Helvetica, Arial, sans-serif;
	text-transform: uppercase;

	color: $body-color;
	z-index: 100;

	h1 {
		font-size: 5rem;
		font-weight: bold;
		letter-spacing: 0px;
		padding-bottom: 5px;
		margin: 0;

		@media (max-width: 767px) {
			font-size: 4rem;
			line-height: 110%;
		}
	}

	.landing-subtitle {
		font-family: 'CalibreWebSemibold', Helvetica, Arial, sans-serif;
		text-transform: uppercase;
		font-size: 1.4rem;
    	letter-spacing: 2px;
		margin: 0;

		@media (max-width: 767px) {
			font-size: 0.8rem;
		}
	}
}