$body-bg: #34393F;
$body-color: #FFF;

$logo-height: 80px;
$logo-width: 80px;

$hamburger-main: #FFF;
$hamburger-active: #FFF;
$hamburger-link: #FFF;
$hamburger-height: 27px;
$hamburger-width: 35px;

$nav-fullscreen-bg: #071016;
$nav-fullscreen-opacity: 0.96;
$nav-fullscreen-color: #FFF;

$lines-color: #000D14;